{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
    .errorPage{
        text-align:center;
        margin-top:8%;
    }
    .errorPage h1{
        font-size:200px;
        text-shadow: 3px 3px #ffd700;
    }
    .errorPage p{
        font-variant: small-caps;
        letter-spacing: 2px;
        word-spacing: 2px;
        font-size:2em;
    }
</style>
{% endblock %}

{% block body %}
<section class="errorPage">
<h1>{{ statusCode }}</h1>
<p>ERREUR</p>
</section>
{% endblock %}
{% block footer %}{% endblock %}